@font-face {
    font-family: 'Mario';
    src: url(../archives/SuperMarioWorld.ttf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 28px;
    font-family: 'Mario'
}

/*
#btnIniciarJogo {
    display: block;
    width: 19%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
}
*/

#game-board {
    width: 100%;
    height: 100%;
    /*border-bottom: 18px solid rgb(12, 157, 12);*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #0648ba;
}

#cenario{
    position: relative;
    width: 100vw;
    height: 100vh;    
    background-image: url(../archives/cenario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.cenariodois{
    position: relative;
    width: 100vw;
    height: 100vh;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

#menu {
    position: absolute;
    width: 50vw;
    height: 140px;    
    background-image: url(../archives/menuDoJogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    top: 0;
}

#time {
    position: absolute;
    top: 73px;
    right: 620px;
    font-size: 22px;
    color: #ffdf73;
}

#life {
    position: absolute;
    top: 76px;
    left: 460px;
    color: white;
    font-size: 25px;
}

#coin {
    position: absolute;
    top: 45px;
    right: 440px;
    color: white;
    font-size: 25px;    
}

#point {
    position: absolute;
    top: 73px;
    right: 440px;
    color: white;
    font-size: 25px;    
}

#personagem {
   width: 80px;
   position: absolute;
   left: 0;
   bottom: 0;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: 0 0;
}

#inimigo{
    position: absolute;
    width: 45px;
    height: 45px;    
    background-image: url(../archives/inimigoLadoEsquerdo.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    bottom: 2px;
    right: 0;
    animation: inimigo-animation 19s infinite linear;
}

#pipe {
    position: absolute;
    bottom: 0;
    width: 85px;
    height: 110px;
    background-image: url(../archives/pipe.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    animation: pipe-animation 1.7s infinite linear;

}

#bloco {
    position: absolute;
    width: 50px;
    height: 50px;    
    background-image: url(../archives/yellowbox.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    right: 350px;
    bottom: 235px;
}

#clouds {
    position: absolute;
    top: 0;
    justify-content: start;
    width: 500px;
    animation: clouds-animations 10s infinite linear;
}


.jump {
    animation: jump 500ms ease-out;
}

#button-reload {
    /*display: BUGA COM O CENARIO EM DISPLAY FLEX ;*/
    display: inline;
    top: 0;
    border: none;
    margin: 10px;
    padding: 10px;
    background: rgb(68, 106, 210);
    color: white;
}

@keyframes inimigo-animation {
    from {
        right: -100px;
    }

    to {
        right: 105%;
    }
}

/*@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
*/

@keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 180px;
    }
    
    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }
    
    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animations {
    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}